.centered-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f8f8;
  flex-direction: column;
}

.todo-app-container {
  width: 60%;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.app-title {
  text-align: center;
}

.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.task-item.completed {
  background-color: #e0e0e0;
}

.task-actions {
  display: flex;
}

.edit-modal {
  .modal-dialog {
    max-width: 400px;
  }
}


.add-button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10px;
}